

ul{
   list-style-type: none;
 }
 img{
   max-width: 100%;
 }
 .header__main{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
 }
 .header__btns{
   display: flex;
 }
 .header__logo{
   width: 100px;
   height: 30px;
 }
 .header__btn{
   cursor: pointer;
   width: 36px;
   height: 36px;
   background-color: transparent;
   border: none;
   margin-right: 10px;
 }
 
 .header__btn .bx{
   font-size: 24px;
 }
 .header__form{
   background: rgba(var(--bb2,239,239,239),1);
   font-size: 16px;
   padding: 0 16px;
   border-radius: 10px;
   height: 36px;
   display: flex;
   align-items: center;
 }
 .header__input{
   background-color: transparent;
   border: none;
   padding: 0 6px;
   outline: none;
 }
 .header__input::placeholder{
   color: #8e8e8e;
 }
 .icon-search{
   display: flex;
   align-items: center;
   color: #8e8e8e;
 }
 .btn-user{
   background-color: rgb(0, 0, 0);
   border-radius: 50%;
   width: 30px;
   height: 30px;
 }
 .myphoto{
   width: 30px;
   height: 30px;
   object-fit: cover;
   border-radius: 50%;
   border: 1px solid #000;
 }
 
 
 .header__logobox{
   margin-left: 26px;
 }
 
 
 .user__name{
   margin-bottom: 0;
   color: #262626;
   font-size: 14px;
   font-weight: 600;
   margin-right: 20px;
   display: flex;
   align-items: center;
 }
 .user__name .bx{
   color: #3797f0;
   margin-left: 6px;
 }
 
 
 .userAbout__box{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
 }
 .userAbout__box img{
   width: 160px;
   height: 160px;
   object-fit: cover;
   border-radius: 50%;
   border: 3px solid transparent;
   outline: 3px solid rgb(255, 81, 0);
   cursor: pointer;
 }
 .userAbout__inner{
   padding: 30px 0;
 }
 .userAbout__name-info{
   color: #262626;
   font-size: 28px;
   line-height: 32px;
   display: flex;
   align-items: center;
   margin-bottom: 0;
   margin-right: 40px;
 }
 .userAbout__name-info .bx{
   color: #3797f0;
   margin-left: 10px;
 }
 .infomation{
   display: flex;
   align-items: center;
   margin-bottom: 6px;
 }
 .userAbout-top-btn{
   cursor: pointer;
   height: 30px;
   font-size: 14px;
   line-height: 18px;
   font-weight: 600;
   background-color: #3797f0;
   color: #fff;
   border-radius: 3px;
   border: 0;
 }
 .follow-btn{
   padding: 0 24px;
   margin-right: 10px;
   letter-spacing: 1px;
 }
 .usercheck-btn{
   padding: 0 8px;
   margin-right: 16px;
   font-size: 20px;
 }
 .dots-btn{
   background-color: transparent;
   border: none;
   font-size: 28px;
 }
 .userFollowers{
   display: flex;
   align-items: center;
   padding: 16px 0;
 }
 .userFollowers__text{
   color: #262626;
   line-height: 24px;
   margin-right: 24px;
 }
 .userFollowers__text span{
   font-weight: 600;
 }
 .about__title{
   font-weight: 600;
   color: #1b1b1b;
   letter-spacing: 1px;
 }
 .about__desc a{
   text-decoration: none;
   color: #3797f0;
 }
 .posts__div{
   padding: 10px 60px;
 }
 .nav-list{
   width: 100%;
   display: flex;
   justify-content: center;
 }
 .nav-link{
   color: #8e8e8e;
   text-transform: uppercase;
   padding: 12px 32px;
 }
 .nav-link.active{
   color: #1b1b1b;
   border: none;
   border-bottom: 1px solid #1b1b1b !important;
 }
 
 
 
 
 
 
 li {
   margin: 0 !important;
 }
 
 .aktual {
   position: relative;
 }
 .aktual__img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
 }
 .aktual__span {
   font-size: 14px;
 }
 
 .swiper-button-next {
   position: absolute;
   top: 100px;
   right: -55px;
   color: #000;
 }
 
 .swiper-button-prev {
   position: absolute;
   top: 110px;
   left: -20px;
   color: #000;
 }
 
 .post {
   padding-top: 20px;
 }
 
 
 .post__item {
   width: 27%;
 }
 .post__box {
   position: relative;
   width: 300px;
   height: 300px;
   object-fit: cover;
 }
 
 .post__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .post__icons {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.404);
   display: none;
 }
 .post__box:hover .post__icons{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .postIcon {
   font-size: 28px;
   color: #fff;
 }
 .comment__span {
   font-size: 20px;
 }
 .modal-dialog {
   position: absolute;
   left: 350px !important;
 }
 .modal-content {
   width: 800px !important;
   height: 700px !important;
 }
 .heart__span {
   font-size: 20px;
 }
 .videoBox {
   width: 400px;
   height: 640px;
 }
 .video {
   width: 100%;
   height: 100%;
 }
 
 .modalIcons {
   font-size: 29px;
 }
 
 
 .videoBox {
   position: relative; 
   display: flex;
   overflow: hidden;
 }
 
 .caruslBtn {
   position: absolute;
   font-size: 34px !important;
   color: #fff;
 }
 
 .red {
   color: red;
 }
 .black {
   color: #000;
 }
 .remove-btn {
   position: relative;
   left: 0px !important;
   font-weight: 500;
   color: #fff;
   background-color: #BE123C;
 }
 
 
 .modalIcons {
   font-size: 20px;
 }
 
 .like {
   position: relative;
   bottom: -18px;
   left: -25px;
   font-size: 16px;
 }
 .comment {
   position: relative;
   bottom: -18px;
   left: -25px;
 }
 
.modal-media-holder {
  height: 100% !important;
}
.everything-holder {
  position: absolute;
  left: 0 !important;
}
.element-video {
  margin-top: 20px !important;
  height: 90% !important;
}

.imgsCarousel {
  width: 100% !important;
  height: 100% !important;
}